@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding: .5rem;
  background: black;
}